# HTTPS設定
HTTPS_ENABLED=true

# Azure Speech Service設定
AZURE_SPEECH_KEY=your_speech_key_here
AZURE_SPEECH_REGION=japaneast
AZURE_SPEECH_ENDPOINT=

# Garoon連携設定
GAROON_URL=https://jbccdemo.cybozu.com/g/cabinet/index.csp?sp=0&hid=7
GAROON_USERNAME=your_garoon_username
GAROON_PASSWORD=your_garoon_password

# その他の環境変数...


